body {
    /*représent l'integralité des opion de la page*/
    margin: 0px;
    padding: 0px;
    background: linear-gradient(55deg, rgb(34, 34, 34) 10%, rgba(92, 92, 92, 0.521) 100%);
    font-family: 'Goldman', cursive;
}

h1 {
    /*représente les option données à tout les textes ecrient en h1*/
    color: rgb(255, 0, 242);
    padding-top: 0px;
}

#page>header {
    /*représente les options du haut de page*/
    grid-column: 1 / 3;
    height: 100px;
    background: black;
    border-style: double;
    border-color: rgb(255, 255, 255);
    border-width: 10px;
    margin: 0cm;
    padding: 0cm;
    position: relative;
}

#page {}

#page>main {
    /*représente le corp de la page*/
    background: linear-gradient(55deg, rgb(0, 255, 64) 10%, rgba(54, 0, 250, 0.521) 100%);
    grid-column: 1/3;
    height: 700px;
    width: auto;
    margin: 0cm;
    padding: 0cm;
    border-style: double;
    border-color: rgb(255, 255, 255);
    border-width: 10px;
    position: relative;
}

#page>footer {
    /*représente le pied de page*/
    background: linear-gradient(55deg, rgb(0, 255, 64) 10%, rgba(54, 0, 250, 0.521) 100%);
    grid-column: 1/3;
    height: 100px;
    margin: 0cm;
    padding: 0cm;
    border-style: double;
    border-color: rgb(255, 255, 255);
    border-width: 10px;
    position: relative;
}

li {
    /*représente les paramettres du panneau deroulant*/
    list-style: none !important;
    color: rgb(0, 0, 0);
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    margin-top: 20px;
    position: center;
}

.MD {
    padding: 0px;
    margin: 0px;
    margin-left: 0%;
    display: flex;
    justify-content: center;
}



nav ul li li {
    margin-top: 0px;
}

nav ul li {
    list-style: none;
    line-height: 44px;
    float: left;
    background-color: #000000;
}

nav ul li a {
    color: rgb(8, 248, 20);
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    
}

li a:hover {
    /*effet quand l'on passe la souris deçu*/
    border-bottom: 3px rgb(255, 217, 0) solid;
    background: linear-gradient(-45deg, red, green, blue, red);
    background-size: 400% 400%;
    animation: gradient 3s ease infinite;
    list-style: none !important;
    
}

@keyframes gradient {
    /*représente les effet de couleur quand lon passe la sourie sur un onglet du menu déplant*/
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.SM {
    display: none;
    
}


/* Rend le menu déroulant cacher par défaut */

nav ul li:hover ul {
    /* Affiche la dropNav au survol de la souris avec la class .drop */
    z-index: 99999;
    display: list-item !important;
	list-style: none !important;
    position: absolute;
    margin-top: 5px;
    justify-content: center;
    margin-left: -40px;
    
}

nav ul li:hover ul li {
    float: none;
}

#Bloc1 {
    /*caracteristiques du bloc 1*/
    background-color: grey;
    width: auto;
    height: auto;
    border-color: rgb(255, 255, 255);
    margin: 25px;
    border-style: double;
    border-width: 10px;
    padding: 10px;
    font-size: 17px;
    border-radius: 1cm;
}

#Bloc2 {
    /*caracteristiques du bloc 2*/
    background-color: grey;
    width: auto;
    height: auto;
    border-color: rgb(255, 255, 255);
    margin: 25px;
    border-style: double;
    border-width: 15px;
    padding: 10px;
    font-size: 17px;
    border-radius: 1cm;
}

h2 {
    font-size: 30px;
}